/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts8
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts12
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts13
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts14, span.rvts14
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts14:hover { color: #0000ff; }
a.rvts15, span.rvts15
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts16, span.rvts16
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
a.rvts17, span.rvts17
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
 text-decoration: none;
}
a.rvts18, span.rvts18
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000080;
 text-decoration: underline;
}
a.rvts19, span.rvts19
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts20
{
 font-size: 8pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 vertical-align: super;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000080;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts23
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts25
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts26
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts28, span.rvts28
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts28:hover { color: #0000ff; }
span.rvts29
{
 font-size: 8pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts30
{
 font-size: 8pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 background-color: #e6e6e6;
}
a.rvts32, span.rvts32
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts32:hover { color: #0000ff; }
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps4
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: left;
 text-indent: -47px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 47px;
}
.rvps7
{
 text-align: justify;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps9
{
 margin: 5px 0px 0px 0px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps11
{
 margin: 0px 0px 0px 47px;
}
.rvps12
{
 margin: 0px 0px 0px 94px;
}
.rvps13
{
 text-align: center;
 margin: 0px 0px 0px 47px;
}
.rvps14
{
 margin: 10px 0px 10px 0px;
}
.rvps15
{
 margin: 0px 0px 16px 0px;
}
.rvps16
{
 margin: 0px 0px 0px 24px;
}
